/* eslint no-img-element: 0 */

* {
  margin: 0;
  padding: 0;
}

html {
  margin-bottom: 0 !important;
  scroll-behavior: smooth;
}

body {
  background: #151046;
}

.main-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1 {
  margin: 2%;
  font-family: Fairy Cottage;
  font-weight: normal;
  font-size: 180px;
  letter-spacing: 0.11em;
  color: #FFBC39;
  text-align: center;
}

h2 {
  margin: 2%;
  font-family: Fairy Cottage;
  font-weight: normal;
  font-size: 60px;
  letter-spacing: 0.11em;
  color: #FFBC39;
}

h3 {
  margin: 2%;
  font-family: Fairy Cottage;
  font-weight: normal;
  font-size: 60px;
  letter-spacing: 0.11em;
  color: #FFBC39;
  text-align: center;
}

h4 {
  margin: 2%;
  padding: 5%;
  font-family: Fairy Cottage;
  font-weight: normal;
  font-size: 40px;
  letter-spacing: 0.11em;
  color: #FFBC39;
}

p, ul, li {
  margin: 2%;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  letter-spacing: 0.105em;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

li {
  padding-bottom: 1.5rem;
  border-left: 1px solid #abaaed;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
}
li:last-child{
  border: 0px;
  padding-bottom: 0;
}
li:before{
  content: '';
  width: 15px;
  height: 15px;
  background: white;
  border: 1px solid #4e5ed3;
  box-shadow: 3px 3px 0px #bab5f8;
  box-shadow: 3px 3px 0px #bab5f8;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: 0px;
}


a {
  color: #FFBC39;
  text-decoration: none;
}

ul {
  margin-left: 5%;
  list-style-type: none;
}

@media (max-width: 480px) {
  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 60px;
  }

  p, ul, li {
    font-size: 18px;
  }
}
