a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

html {
  margin-bottom: 0 !important;
  display: flex;
  max-height: 100vh;
  overflow-x: hidden;
}

h3 {
  padding-left: 10vw;
  padding-bottom: 0.3em;
  font-family: Calama;
  font-weight: normal;
  font-size: 40px;
  width: 50vw;
  line-height: 40px;
  letter-spacing: 0.105em;
  color: #000000;
}

ul,
p {
  justify-content: left;
  width: 45vw;
  padding-left: 10vw;
  padding-bottom: 1em;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.105em;
  color: #000000;
}
@media (max-width: 600px) {
  ul,
  p {
    width: 80vw;
    line-height: 21px;
  }
}

section {
  padding: 0px;
  margin: 0px;
}
