html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h3{
  padding-left: 11vw;
  font-family: Calama;
  font-weight: normal;
  font-size: 72px;
  line-height: 70px;
  letter-spacing: 0.105em;
  color: #000000;
}

ul,p{
  justify-content: left;
  width: 50vw;
  padding-left: 11vw;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.105em;
  color: #000000;
    
}