a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  border: 1px solid red;
}

html {
  display: flex;
}

h3 {
  padding-left: 10vw;
  padding-bottom: 0.3em;
  font-family: Calama;
  font-weight: normal;
  font-size: 40px;
  width: 50vw;
  line-height: 40px;
  letter-spacing: 0.105em;
  color: #000000;
}

ul,
p {
  justify-content: left;
  width: 45vw;
  padding-left: 10vw;
  padding-bottom: 1em;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.105em;
  color: #000000;
}

section {
  padding: 0px;
  margin: 0px;
}
