@font-face {
  font-family: Roboto;
  src: url("Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: Calama;
  src: url("Calama_new.ttf");
}
@font-face {
  font-family: Fairy Cottage;
  src: url("Fairy Cottage.ttf");
}

.sectionIntro {
  background: #151046;
  justify-content: center;
}

.sectionTitles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: Fairy Cottage;
  color: #FFBC39;

  align-items: center;
  margin-left: 20vw;
}

#orgTitle {
  font-weight: normal;
  text-align: center;
}

.topNav {
  position: fixed;
  width: 100%;
  margin: 0;
  background-color: #4a60f4;
  background-color: rgb(76, 73, 111);
  display: flex;
  justify-content: space-evenly;
  z-index: 100;
}

@media (max-width: 2048px) {
  .topNav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 50px;
    font-family: Fairy Cottage;
  }
  
}

@media (max-width: 600px) {
  .topNav {
    visibility: hidden;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 32px;
    font-family: Fairy Cottage;
  }

    #hang1Img {
      position: relative;
      top: -5vw;
      width: auto;
      float: left;
      height: 20vw;
      z-index: 1;
      overflow: hidden;
    }
  
    #hang2Img {
      position: relative;
      top: -5vw;
      width: auto;
      height: 20vw;
      z-index: 1;
      overflow: hidden;
    }
  
    #hang3Img {
      position: relative;
      top: -5vw;
      background-size: cover;
      height: 20vw;
    }
  
    #hang4Img {
      position: relative;
      top: -25vw;
      width: auto;
      height: 20vw;
      float: right;
      z-index: 1;
      overflow: hidden;
    }
}

#moonImg {
  position: relative;
  width: 100vw;
  height: auto;
  z-index: 1;
}

#fadeImg {
  position: relative;
  width: 100vw;
  height: 15vw;
  top: -1vh;
  z-index: 1;
}

#hang1Img {
  position: relative;
  top: 5vw;
  width: auto;
  float: left;
  height: 20vw;
  z-index: 1;
  overflow: hidden;
}
#hang2Img {
  position: relative;
  top: 5vw;
  width: auto;
  height: 20vw;
  z-index: 1;
  overflow: hidden;
}
#hang3Img {
  position: relative;
  top: 5vw;
  background-size: cover;
  height: 20vw;
}

#hang4Img {
  position: relative;
  top: -15vw;
  width: auto;
  height: 20vw;
  float: right;
  z-index: 1;
  overflow: hidden;
}

.sectionAbout {
  margin: 5%;
}

#paperPlane {
  position: absolute;
  width: 100%;
}

#invertedPlane {
  position: relative;
  width: 100%;
  display: block;
}

#rosesandstars {
  background-size: cover;
  width: 100%;
  height: auto;
}

#elephant {
  width: 100%;
  background-size: cover;
}

#fox {
  width: 40%;
  height: auto;
  background-size: cover;
}

#sheep {
  position: relative;
  background-size: cover;
  width: 100%;
  height: auto;
  overflow: auto;
}

@media (max-width: 600px) {
  .sectionDuringDay {
    height: auto;
    flex-direction: column;
  }
  
  .sectionCatalystCohort {
    height: auto;
    flex-direction: column;
  }

  .ourGoals {
    height: auto;
    flex-direction: column;
  } 
}

@media(max-width: 2048px) {

  .ourGoals {
    height: auto;
    display: flex;
  }

  .sectionDuringDay {
    height: auto;
    display: flex;
  }


  .sectionCatalystCohort {
    height: auto;
    display: flex;
  }

}

.sectionTracks {
  height: auto;
}

.track {
  height: auto;
  padding-bottom: 2vw;
}

.sectionSchedule {
  height: auto;
  padding: 20vh 0 10vh 0;
  left: 0px;
  background: #151046;
  scroll-margin-top: -80vh;
}

.scheduleTable {
  color:white;
  margin:auto;
  font-family: Roboto;
  font-weight: normal;
  padding: 2rem;
  text-align: left;
}
.scheduleDesc {
  margin: auto;
  color: white;
  text-align: center;
  width: auto;
}

.scheduleTitle {
  color: white;
  text-align: center;
  width: auto;
  margin:auto;
  font-family: Calama;
  text-align: center;
}

.sectionFAQ {
  height: auto;
}

.question {
  margin: auto;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  color: black;
  text-align: center;
  background: #a4b3f2;
  font-family: Roboto;
  font-size: 28px;
  padding: 24px 24px;
  border-radius: 30px;
  border: none;
  width: 75%;
  z-index: 9;
  text-align: left;
}

.answer {
  width: 75%;
  margin: auto;
  position: relative;
  background: #4a60f4;
  color: black;
  border-radius: 30px;
  font-family: Roboto;
  font-size: 22px;
  padding: 24px 24px;
  padding-top: 48px;
  transform: translateY(calc(-1 * 32px));
  z-index: 0;
  text-align: left;
}

.sectionFooter {
  text-align: center;
  background: #151046;
}

.socials {
  position: relative;
}

/* 

.imageMargin {
  margin-left: 0.5rem;
}
.row {
  display: flex;
}
.column {
  width: auto;
  justify-content: flex-start;
  flex: 30%;
}
.marginText {
  width: auto;
  margin-right: 5rem;
}
.trackTitle {
  padding: 0 0 1.5rem 0;
  font-size: 3rem;
  text-align: center;
  margin: auto;
}

.button {
  background-color: #f28f6b;
  border: none;
  color: white;
  padding: 1rem;
  font-size: 3rem;
  font-family: Calama;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  letter-spacing: 0.096em;
}

.contactText {
  font-family: Roboto;
  font-size: 1rem;
  left: 10vw;
  padding-bottom: 5vh;
}

*/

.rectangle {
  border-radius: 25px;
  background: rgb(76, 73, 111);
  padding: 2.5vh;
  text-align: center;
}

.registerTitle {
  text-align: center;
}

.register {
  display: flex;
  justify-content: center;
}

.registerButton {
  width: 40vh;
  border-radius: 25px;
  margin-bottom: 5%;
  background-color: rgb(76, 73, 111);
  justify-content: center;
}

/*

#clouds2Img {
  position: relative;
  float: right;
  width: 30vw;
  height: auto;
  bottom: 10vh;
  right: 7vw;
  transform: rotate(10deg);
}
#passportImg {
  position: relative;
  width: 25vw;
  height: auto;
  bottom: 30vh;
  left: 10vw;
  transform: rotate(30deg);
}

*/

#footerImg {
  width: 100%;
  background-size: cover;
}

/*

#mapImg {
  position: relative;
  right: -40vw;
  width: 25vw;
  height: auto;
}
#tracksTitle {
  z-index: 10;
  text-align: center;
}
.sectionTitle {
  margin: auto;
  padding: 3rem 0 3rem 0;
  text-align: center;
  font-size: 60px;
}

.sectionPCenter {
    margin: auto;
    padding: 0 0 3rem 0;
    text-align: center;
    font-size: auto;
}

.sectionBottomText {
  margin: auto;
  padding: 0 -1.5vh 3rem 0;
  text-align: center;
  font-size: auto;
  color:#FFBC39
}

.tracksTitle {
  margin: auto;
  padding: 3rem 0 3rem 0;
  padding-top: 40vh;
  text-align: center;
  font-size: 60px;
}

#luggageImg {
  position: relative;
  width: 40vw;
  right: -55vw;
  top: -60vh;
  height: auto;
  object-fit: cover;
}
#signsImg {
  position: absolute;
  width: 50vw;
  transform: translate(20%, -10%);
  height: auto;
  object-fit: cover;
}

@media (max-width: 600px) {
  #moonImg {
    visibility: hidden;
  }
  #fadeImg {
    visibility: hidden;
  }
}

@media (max-width: 1000px) {
  #elephant {
    visibility: hidden;
  }
  #paperPlane {
    visibility: hidden;
  }

  #plane {
    visibility: hidden;
  }
  #sheep {
    visibility: hidden;
  }
  #fox {
    visibility: hidden;
  }
  #invertedPlane {
    visibility: hidden;
  }
}

*/