/* eslint no-img-element: 0 */

@font-face {
  font-family: Roboto;
  src: url("Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: Calama;
  src: url("Calama_new.ttf");
}
@font-face {
  font-family: Fairy Cottage;
  src: url("Fairy Cottage.ttf");
}
/* .gradientBackground {
  background-image: linear-gradient(#93bbbf, #bdb2b4, #f2a7a7, #f2a7a7, #f4b3a1, #f8cf91);
} */

.sectionIntro {
  width: 100vw;
  height: 60vw;
  background: #151046;
  z-index: 0;
} 
.title {
  position: relative;
  top: 1vw;
  width: 50vw;
  height: 50vw;
  margin: auto;
  font-family: Fairy Cottage;
  font-weight: normal;
  font-size: 15vw;
  text-align: center;
  letter-spacing: -0.015em;
  color: #FFBC39;
  z-index: 2;
}
.description {
  position: relative;
  margin: auto;
  top: -6.5ex;
  left: -2.5ex;
  font-family: Roboto;
  font-weight: normal;
  font-size: 4vw;
  line-height: 75px;
  text-align: center;
  align-items: center;
  letter-spacing: 0em;
  color: #FFBC39;
  z-index: 2;
}

.topNav {
  position: fixed;
  background-color: #4a60f4;
  overflow: hidden;
  z-index: 10;
  width: 100vw;
  height: 10vh;
  background-color: rgb(76, 73, 111);
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
}

.topNav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 45px;
  font-family: Fairy Cottage;
}

/* Change the color of links on hover */
.topNav a:hover {
  background-color: #ddd;
  color: black;
}

#moonImg {
  position: relative;
  top: -16vw;
  width: 100vw;
  height: auto;
  z-index: 1;
}
#fadeImg {
  position: relative;
  top: -16.75vw;
  width: 100vw;
  height: 15vw;
  z-index: 1;
}
#hang1Img {
  position: relative;
  top: 5vw;
  width: auto;
  float: left;
  height: 20vw;
  z-index: 1;
  overflow: hidden;
}
#hang2Img {
  position: absolute;
  top: 5vw;
  width: auto;
  height: 20vw;
  z-index: 1;
  overflow: hidden;
}
#hang3Img {
  position: relative;
  top: 5vw;
  width: auto;
  height: 20vw;
  float: right;
  z-index: 1;
  overflow: hidden;
}
#hang4Img {
  position: relative;
  top: 5vw;
  width: auto;
  height: 20vw;
  float: right;
  z-index: 1;
  overflow: hidden;
}
.sectionAbout {
  padding-top: 5vh;
  padding-right: 30%;
  width: 100vw;
  height: auto;
  background: #151046;
  scroll-margin-top: 8vh;
}
.ourGoals {
  position: relative;
  padding-top: 12.5vh;
  padding-right: 30%;
  width: 100vw;
  height: auto;
  background: #151046;
}

#paperPlane {
  position: absolute;
  width: 50vw;
  height: 40vw;
  right: 0vh;
  top: 135vh;
  display: block;
  z-index: 1;
  overflow: auto;
}

#invertedPlane {
  position: relative;
  width: auto;
  height: auto;
  margin-top: -10vh;
  margin-bottom: -60vh;
  display: block;
  z-index: 1;
  overflow: auto;
}

#rosesandstars {
  position: relative;
  width: 100vw;
  height: auto;
}

#elephant {
  position: absolute;
  width: 30vw;
  height: auto;
  right: 20vh;
  top: 225vh;
  display: flex;
  z-index: 1;
  overflow: auto;
}

#fox {
  position: relative;
  width: 30vw;
  height: auto;
  left: 5vw;
  margin-right: 30vh;
  margin-top: -40vh;
  margin-left: auto;
  display: block;
  z-index: 1;
  overflow: auto;
}

#sheep {
  position: relative;
  width: 30vw;
  height: auto;
  margin-left: -65vh;
  margin-top: -45vh;
  display: block;
  z-index: 1;
  overflow: auto;
}

.sectionDuringDay {
    padding-top: 5vh;
    width: 100vw;
    height: auto;
    background: #151046;
}

.sectionText {
  width: 100vw;
  height: auto;
  background: #151046;
}
.sectionCurrentStudent {
  padding: 3rem 0 1rem 0;
}
.sectionDuringDay {
  padding-top: 5vh;
}

.sectionTracks {
  width: 100vw;
  height: auto;
  padding: 0 0 0 -20vh;
  background: #151046;
  scroll-margin-top: -25vh;
  z-index: 10;
}

.rightTracks {
  /*padding-top: 0vh; */
  width: 100vw;
  height: auto;
  margin-top: -30vh;
  padding-left: 42.5vw;
  background: #151046;
}
.sectionSchedule {
  width: 100vw;
  height: auto;
  padding: 20vh 0 10vh 0;
  left: 0px;
  background: #151046;
  scroll-margin-top: -80vh;
}

.scheduleTable {
  color:white;
  margin:auto;
  font-family: Roboto;
  font-weight: normal;
  /* border: 1px, 1px, 1px, 1px;
  border-color: white;
  border-style: solid; */
  padding: 2rem;
  text-align: left;
}
.scheduleDesc {
  margin: auto;
  color: white;
  text-align: center;
  width: auto;
}

.scheduleTitle {
  color: white;
  text-align: center;
  width: auto;
  margin:auto;
  font-family: Calama;
  font-size: 3rem;
  padding-bottom: 1rem;
  letter-spacing: .07em;
  text-align: center;
}

.sectionFAQ {
  width: 100vw;
  height: auto;
  background: #151046;
  scroll-margin-top: 10vh;
}

.sectionCatalystCohort {
  padding-top: 15vh;
  width: 100vw;
  height: auto;
  padding-left: 45vw;
  background: #151046;
}

.centeredP {
  position: relative;
  text-align: center;
  margin-left: 50vh;
  align-items: center;
  display: flex;
  /* justify-self: center; */
}

.question {
  margin: auto;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  color: black;
  text-align: center;
  background: #a4b3f2;
  font-family: Roboto;
  padding: 24px 24px;
  border-radius: 30px;
  border: none;
  width: 75%;
  z-index: 9;
  text-align: left;
}
.answer {
  width: 75%;
  margin: auto;
  position: relative;
  /* background: #539dfc; */
  /*background: #3399ff; */
  background: #4a60f4;
  border-radius: 30px;
  font-family: Roboto;
  font-size: 1rem;
  padding: 24px 24px;
  padding-top: 48px;
  transform: translateY(calc(-1 * 32px));
  z-index: 0;
  text-align: left;
}
.sectionFooter {
  width: 100vw;
  z-index: 0;
  background: #151046;
}
.socials {
  z-index: 1000;
  margin-right: 2rem;
  position: relative;
  bottom: 4rem;
  float: right;
}
.imageMargin {
  margin-left: 0.5rem;
}
.row {
  display: flex;
}
@media (min-width: 1101px) {
  .textBoundaries {
    width: 35vw;
    margin: auto;
    padding-left: 0rem;
  }
  .trackTitle {
    width: 30vw;
    line-height: 3.5rem;
  }
}
@media (max-width: 1100px) {
  .row {
    display: inline;
  }
  .textBoundaries {
    width: 80vw;
  }
  .marginText {
    padding: 0vh !important;
    margin: 0 !important;

  }
  .registerButton {
    display: block !important;
  }
  .button {
    margin-bottom: 0 !important;
    margin-right: 2rem;
  }
}
@media (max-width: 800px) {
  .button {
    margin-right: 10px;
  }
}
.column {
  width: auto;
  justify-content: flex-start;
  flex: 30%;
}
.marginText {
  width: auto;
  margin-right: 5rem;
}
.trackTitle {
  padding: 0 0 1.5rem 0;
  font-size: 3rem;
  text-align: center;
  margin: auto;
}
.rectangle {
  position: relative;
  width: 25vw;
  height: auto;
  margin: auto;
  margin-top: 0.5rem;
  border-radius: 25px;
  background: rgb(76, 73, 111);
  padding: 2.5vh;
  text-align: center;
}

.button {
  background-color: #f28f6b;
  border: none;
  color: white;
  padding: 1rem;
  font-size: 3rem;
  font-family: Calama;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  letter-spacing: 0.096em;
}

.contactText {
  font-family: Roboto;
  width: 75%;
  font-size: 1rem;
  left: 10vw;
  padding-bottom: 5vh;
}
.registerTitle {
  position: relative;
  padding-left: 0;
  width: 25vw;
}
#clouds2Img {
  position: relative;
  float: right;
  width: 30vw;
  height: auto;
  bottom: 10vh;
  right: 7vw;
  transform: rotate(10deg);
}
#passportImg {
  position: relative;
  width: 25vw;
  height: auto;
  bottom: 30vh;
  left: 10vw;
  transform: rotate(30deg);
}
#footerImg {
  width: 100vw;
  height: auto;
}
#mapImg {
  position: relative;
  right: -40vw;
  width: 25vw;
  height: auto;
}
#tracksTitle {
  z-index: 10;
  text-align: center;
}
.sectionTitle {
  margin: auto;
  padding: 3rem 0 3rem 0;
  text-align: center;
  font-size: 60px;
}

.sectionPCenter {
    margin: auto;
    padding: 0 0 3rem 0;
    text-align: center;
    font-size: auto;
}

.sectionBottomText {
  margin: auto;
  padding: 0 -1.5vh 3rem 0;
  text-align: center;
  font-size: auto;
  color:#FFBC39
}

.tracksTitle {
  margin: auto;
  padding: 3rem 0 3rem 0;
  padding-top: 40vh;
  text-align: center;
  font-size: 60px;
}

.registerButton {
  display: flex;
  gap: 1vw;
  margin: auto;
  justify-content: center;
}
#luggageImg {
  position: relative;
  width: 40vw;
  right: -55vw;
  top: -60vh;
  height: auto;
  object-fit: cover;
}
#signsImg {
  position: absolute;
  width: 50vw;
  transform: translate(20%, -10%);
  height: auto;
  object-fit: cover;
}
@media (max-width: 600px) {
  #moonImg {
    visibility: hidden;
  }
  #fadeImg {
    visibility: hidden;
  }
}
@media (max-width: 1000px) {
  #elephant {
    visibility: hidden;
  }
  #paperPlane {
    visibility: hidden;
  }

  #plane {
    visibility: hidden;
  }
  #sheep {
    visibility: hidden;
  }
  #fox {
    visibility: hidden;
  }
  #invertedPlane {
    visibility: hidden;
  }
  .sectionCatalystCohort {
      padding-top: 15vh;
      width: 100vw;
      height: auto;
      float: right;
      background: #151046;
  }
}
/* @media (max-width: 700px) and (min-width: 510px) {
  #signsImg {
    width: 80vw;
    transform: translate(-90%, 20%);
  }
  #paperPlane {
    width: 35vw;
    height: auto;
    right: 0vw;
    top: 109vh;
    visibility: hidden;
  }
  #luggageImg {
    width: 80vw;
    right: -15vw;
    top: -120vh;
    visibility: hidden;
  }
} */
/* @media (max-width: 700px) {
  .rectangle {
    width: 50vw;
    height: auto;
    margin: auto;
    margin-top: 12rem;
    margin-bottom: 5vh;
    background: #f2bba7;
    padding: 5vh 10vw 5vh 10vw;
    text-align: center;
  }
  #clouds2Img {
    width: 40vw;
    bottom: -5vh;
    right: 7vw;
    transform: rotate(10deg);
  }
  #passportImg {
    width: 45vw;
    bottom: 50vh;
    left: 5vw;
  }
  #mapImg {
    right: 15vw;
    width: 50vw;
    bottom: -10vh;
  }
  #luggageImg {
    width: 80vw;
    right: -15vw;
    top: -160vh;
    visibility: hidden;
  }
}
#cloud1Img {
  position: relative;
  width: 40vw;
  height: auto;
  left: -40vw;
} */