@font-face {
  font-family: Roboto;
  src: url("Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: Calama;
  src: url("Calama_new.ttf");
}
.gradientBackground {
  background-image: linear-gradient(#93bbbf, #bdb2b4, #f2a7a7, #f2a7a7, #f4b3a1, #f8cf91);
}

.sectionIntro {
  width: 100vw;
  height: 60vw;
  background: #93bbbf;
  z-index: 0;
}
.title {
  position: relative;
  top: 4vh;
  width: 50vw;
  height: 50vw;
  margin: auto;
  font-family: Calama;
  font-weight: normal;
  font-size: 20vw;
  text-align: center;
  letter-spacing: 0.105em;
  color: #000000;
  z-index: 2;
}
.description {
  position: relative;
  margin: auto;
  top: -9ex;
  left: -2.5ex;
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 5vw;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.105em;
  color: #000000;
  z-index: 2;
}
#planeImg {
  position: absolute;
  top: 2em;
  width: 100vw;
  height: auto;
  z-index: 1;
}
.sectionAbout {
  padding-top: 5vh;
  width: 100vw;
  height: 80vh;
  background: linear-gradient(
    180deg,
    rgba(147, 187, 191, 0.37) -8.24%,
    rgba(189, 178, 180, 0.42) 18.46%,
    #f2a7a7 100%
  );
}
#ticketsImg {
  position: relative;
  width: 40vw;
  height: auto;
  right: -60vw;
  bottom: 35vh;
  z-index: 1;
}
.sectionGoals {
  width: 100vw;
  height: 120vh;
  background: linear-gradient(180deg, #f2a7a7 0%, #f4b3a1 23.96%, #f8cf91 100%);
}
.sectionDuring {
  padding: 5rem 0 15rem 0;
}
#luggageImg {
  position: relative;
  width: 40vw;
  right: -55vw;
  top: -100vh;
  height: auto;
  object-fit: cover;
}
#signsImg {
  position: relative;
  width: 40vw;
  top: -27vh;
  right: -20vw;
  height: auto;
  object-fit: cover;
}
.sectionTracks {
  width: 100vw;
  height: auto;
  padding: 20vh 0 20vh 0;
  background: linear-gradient(180deg, #f8cf91 0%, #ef9c67 76.04%, #e76c3f 100%);
}
.sectionSchedule {
  width: 100vw;
  height: 40vw;
  left: 0px;
  background: linear-gradient(180deg, #e76c3f 50.44%, #edc17f 100%);
}
.sectionFAQ {
  width: 100vw;
  height: auto;
  background: #edc17f;
}
.question {
  margin: auto;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  color: black;
  text-align: center;
  background: #f8cf91;
  font-size: 1.2rem;
  font-family: Roboto;
  padding: 24px 24px;
  border-radius: 30px;
  border: none;
  width: 75%;
  z-index: 5000;
  text-align: left;
}
.answer {
  width: 75%;
  margin: auto;
  position: relative;
  background: #ecaf55;
  border-radius: 30px;
  font-family: Roboto;
  font-size: 1rem;
  padding: 24px 24px;
  padding-top: 48px;
  transform: translateY(calc(-1 * 32px));
  z-index: 0;
  text-align: left;
}
.sectionFooter {
  width: 100vw;
  z-index: 0;
}
.socials {
  z-index: 1000;
  margin-right: 3rem;
  position: relative;
  bottom: 8vh;
  float: right;
}
.imageMargin {
  margin-left: 0.5rem;
}
.row {
  display: flex;
}
.column {
  width: 50vw;
  align-content: flex-start;
  flex: 30%;
}
.marginText {
  width: auto;
  margin-right: 5rem;
}
.textBoundaries {
  width: 40vw;
  padding-left: 4rem;
  padding-right: 0rem;
}
.trackTitle {
  padding-left: 0rem;
  padding-right: 0rem;
  text-align: center;
}
.rectangle {
  position: relative;
  width: 50vw;
  height: auto;
  margin: auto;
  margin-top: 12rem;
  margin-bottom: 20vh;
  border-radius: 25px;
  background: #f2bba7;
  padding: 10vh;
  text-align: center;
}
.button {
  background-color: #f28f6b;
  border: none;
  color: white;
  padding: 20px;
  font-size: 3rem;
  font-family: Calama;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
.scheduleTitle {
  margin: auto;
  color: white;
  text-align: center;
  width: auto;
}
.scheduleDesc {
  margin: auto;
  color: white;
  text-align: center;
  width: auto;
}
.contactText {
  font-family: Roboto;
  width: 75%;
  font-size: 1rem;
  left: 10vw;
  padding-bottom: 5vh;
}
.noPadding {
  padding-left: 0;
}
#clouds2Img {
  position: relative;
  float: right;
  width: 30vw;
  height: auto;
  bottom: 10vh;
  right: 7vw;
  transform: rotate(10deg);
}
#passportImg {
  position: relative;
  width: 25vw;
  height: auto;
  bottom: 25vh;
  left: 10vw;
  transform: rotate(30deg);
}
#footerImg {
  width: 100vw;
  height: auto;
}
#mapImg {
  position: relative;
  right: -40vw;
  width: 25vw;
  height: auto;
}
#tracksTitle {
  text-align: center;
}
.sectionTitle {
  margin: auto;
  padding-left: 0rem;
  text-align: center;
}
