@font-face {
  font-family: Roboto;
  src: url("Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: Calama;
  src: url("Calama_new.ttf");
}
.container {
  padding: 0 2rem;
}
.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}
.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.title a {
  color: #0070f3;
  text-decoration: none;
}
.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}
.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}
.title,
.description {
  text-align: center;
}
.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}
.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}
.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}
.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}
.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}
.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}
.logo {
  height: 1em;
  margin-left: 0.5rem;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
.sectionIntro {
  position: absolute;
  height: 982px;
  width: 1512px;
  top: 0px;
  left: 0px;
  background: #93BBBF;
}
 .sectionAbout {
  position: absolute;
  width: 1512px;
  height: 1235px;
  left: 0px;
  top: 982px;
  background: linear-gradient(180deg, rgba(147, 187, 191, 0.37) -8.24%, rgba(189, 178, 180, 0.42) 18.46%, #F2A7A7 100%);
}
.sectionGoals {
  position: absolute;
  width: 1512px;
  height: 1905px;
  left: 0px;
  top: 2217px;
  background: linear-gradient(180deg, #F2A7A7 0%, #F4B3A1 23.96%, #F8CF91 100%);
} 
.title1 {
  position:absolute;
  width: 850px;
  height: 197px;
  left: 331px; 
  vertical-align: top;
  font-family: Calama;
  font-weight: normal;
  font-size: 288px;
  line-height: 280px;
  text-align: center;
  letter-spacing: 0.105em;
  color: #000000;
}
.description1 {
  position: absolute;
  width: 764px;
  height: 101px;
  left: 386px;
  top: 487px;

  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.105em;

  color: #000000;
}
.gradientBackground {
  background-image: linear-gradient(#93BBBF, #BDB2B4, #F2A7A7, #F2A7A7, #F4B3A1, #F8CF91);
}
#planeImg{
  top: 0%;
  left: 0%;
}

